# Ignore PyCharm Application files
# PyCharm files
.idea/
*.iml
*.ipr
*.iws
###########################################################
# Ignore Visual Studio Code Application files
.vscode/*
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
!.vscode/*.code-snippets 
# Local History for Visual Studio Code 
.history/
# Built Visual Studio Code Extensions 
*.vsix 
###########################################################
# Other Files
/**/__pycache__